[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty\\JsonConfiger"]
	path = ThirdParty\\JsonConfiger
	url = https://github.com/Balalarga/JsonConfiger.git
