[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/Cereal"]
	path = ThirdParty/Cereal
	url = https://github.com/USCiLab/cereal.git
